body {
  font-family: $font-family;
  background: $white;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: $text-color;
  &.no-scroll {
    overflow: hidden;
  }
}
* {
  transition: all 200ms;
  box-sizing: border-box;
}
html,
body {
  font-size: 12px;
  @include tablet {
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 1.3px;
  color: $text-dark;
}
h1 {
  font-size: 3.325rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.325rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.825rem;
}

small {
  font-size: 0.85%;
}
