html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
}

nav ul {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

label {
  font-weight: normal;
  padding-bottom: 10px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table td,
.table th {
  vertical-align: middle;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin: 0;
  font-weight: bold;
}

button {
  appearance: none;
  background: transparent;
  text-transform: none;
  border: none;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

blockquote {
  margin: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  transition: all 200ms linear;
}

select {
  height: 2.5rem;
}

mark {
  padding: 0.125rem;
  background: rgba($color: $primary, $alpha: 0.3);
  border-radius: 3px;
  font-size: 85%;
  letter-spacing: 0.05rem;
}