//colors
$white: #ffffff;
$black: #000000;
$primary: #2da5ec;
$primary-dark: #293d4a;
$primary-green: #00c48c;
$silver: #c4c4c4;
$orange: #ffa26b;
$text-color: #333333;
$text-dark: #031c2c;
$grey-light: #f1f1f1;
$grey-dark: #828282;
$grey-cool: #8a939a;
$border-color: #eeeeee;

$green: #00BA29;
$red: #ff0000;

//fonts
$font-family: "SF Pro";

$base-font-size: 100%;