.division-logger {
    border: 0.5px solid $silver;
    margin: 2rem auto 3rem;
    width: 100%;
}
.badge{
    background:#293D4A;
    border-radius: 4px;
    padding: 5px;
    font-family:$font-family;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:#FFFFFF;
    text-transform: capitalize;
    margin: 5px;
}
.tagging{
    margin: -7px 5px;
    width: 20px;
}
.tags-container{
    scrollbar-width: none;
}
.flex_container_title{
    display: flex;
}
.btn-container-main{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 8px 0;
    .buttton{
        color:black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
}
.middle-loader{
    margin: 0 50%;
    width: 48px;
}



::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: transparent;
}
::-webkit-scrollbar-thumb:horizontal{
    background: transparent;
    border-radius: 10px;
}
.form__input_select_opacity{
    width: 10rem;
    background-color:transparent;
    background-size: 24px;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    padding-left: 2rem;
    height: 3.125rem;
    margin-right: 0rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"),url("https://assetsgitlabcli.s3.eu-west-2.amazonaws.com/Vector.png");
    background-repeat: no-repeat;
    background-position: right center, left center;
    background-position-x: right, left;
    background-position-y: center, center;
}
.search_categories{
    background-position: 0.8125rem center;
    font-size: 0.875rem;
    width: 20.88rem;
    padding-left: 1.813rem;
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: 24px;
    border: 1px solid#dbe2e8;
    border-radius: 0.375rem;
    box-shadow: 0 7px 0 0rgba(46, 61, 73, 0.05), 0 4px 0 0 rgba(46, 61, 73, 0.05), 0 1px 1px 0 rgba(46, 61, 73, 0.05);
    box-sizing: border-box;
    color:#242a2f;
    font-family: "Open Sans", sans-serif;
    height: 3.125rem;
    padding-top: 0.813rem;
    margin-top: 1rem;
    padding-bottom: 0.813rem;
    background: calc(100% - 1.4em) center/1.6rem #fff url("https://images.ctfassets.net/2y9b3o528xhq/18bKgsmBxgheLvTvozlSM5/cc245182d687c3db0f4c8deff175ada5/search.svg") no-repeat;
}