.gift {
    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;

        &--text {
            width: 100%;

            @include tablet {
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 2rem;
            }
        }

        &--image {
            @include mobile {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            @include tablet {
                flex: 0 0 48%;
                max-width: 48%;
                text-align: right;
            }

            flex: 0 0 50%;
            max-width: 50%;

            img {
                box-shadow: 0px 7px 64px rgba($color: $black, $alpha: 0.07)
            }
        }
    }

    &__stock {
        &--search {
            max-width: 400px;
            width: 100%;
            border: 1px solid $border-color;
            display: flex;
            align-items: center;
            padding-left: 0.5rem;
            border-radius: 5px;

            input {
                margin-top: 3px;

                &::-ms-input-placeholder {
                    color: $border-color
                }

                &::placeholder {
                    color: $border-color;
                }

                &::-webkit-input-placeholder {
                    color: $border-color;
                }
            }
        }

        &--section {
            margin: 1rem 0;
        }

        &--title {
            display: flex;
            color: $grey-dark;
            font-weight: bold;
            margin-bottom: 1.5rem;
            justify-content: space-between;
        }

        &--box {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;
        }

        flex: 0 0 19%;
        max-width: 19%;
        margin-right: 1.2%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.825rem;
        padding-bottom: 0.825rem;
        border: 2px solid transparent;
            border-radius: 3px;
        transition: all 200ms linear;
        cursor: pointer;

        &:hover {
            border-color: $primary-dark
        }

        &.loader {
            min-height: 120px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.active {
            border-color: $primary;
            box-shadow: 0px 20px 30px rgba($color: $box-shadow, $alpha: 0.16);
        }

        &--border {
            border: 1px solid $border-color;
            border-radius: 3px;
            min-height: 120px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 500px;
            margin: 0 auto;
        }

        img {
            width: 100%;
            max-width: 100px;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            object-fit: contain;
        }
    }

    &__btn {
        display: flex;
        flex: 0 1 250px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        font-size: 1.5rem;

        @include tablet {
            max-width: 250px;
        }
    }

    &__currency {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            font-weight: bold;
        }

        input {
            border: 2px solid $primary;
            border-radius: 4px;
            width: 100px;
            padding: 0.5rem 0.25rem;
            margin-left: 0.5rem;
            text-align: center;
            color: $primary;
            font-weight: bold;

            &:focus {
                outline: none;
            }
        }

    }

    &__total {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &--image {
            height: 50px
        }
    }

    &__amount {
        @extend .gift__header;

        &--left {
            @extend .gift__header--text;
        }

        &--right {
            @extend .gift__header--image;

            @include mobile {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 2rem;
            }

            background-color: $primary-dark;
            text-align: left;
            font-weight: bold;
            color: $white;
            padding: 1.5rem;
            max-width: 527px;
            margin-left: auto;
            border-radius: 5px;
        }
    }

    &__choose {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        &--radio {
            label {
                font-weight: bold;
                margin-top: -2px;
                vertical-align: middle;

            }

            input {
                margin-right: 0.5rem;
            }
        }
    }

    &__blue {
        margin-top: 3rem;
        background-color: #E7F3FF;
        margin-bottom: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &--logos {
            flex: 0 0 100%;
            margin-top: 2rem;

            @include mobile {
                margin-bottom: 2rem;
            }

            @include tablet {
                padding-right: 2rem;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        &--text {
            flex: 0 0 100%;

            @include tablet {
                flex: 0 1 50%;
                max-width: 527px;
            }

            p {
                line-height: 2.5;
                font-weight: 1.125rem;

                @include tablet {
                    max-width: 480px;
                }
            }
        }
    }

    &-form {
        &__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &>div {
                margin-bottom: 3rem;
                width: 100%;

                @include tablet {
                    flex: 0 0 45%;
                    max-width: 45%;
                }
            }

            label {
                font-weight: bold;
                color: $grey-cool;

                input {
                    margin-top: 1rem;

                    &::placeholder {
                        color: rgba($color: $text-dark, $alpha: 0.2)
                    }

                    &:-ms-input-placeholder {
                        color: rgba($color: $text-dark, $alpha: 0.2)
                    }

                    &::-webkit-input-placeholder {
                        color: rgba($color: $text-dark, $alpha: 0.2)
                    }
                }
            }
        }
    }
}