.base_instrument,.base_instrument-mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
}


.topic-block{
    .title-tag{
        font-family: "SF Pro";
        font-style: normal;
        font-weight: 800;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #293D4A;
    }
    .info-tag{
        font-family: "SF Pro";
        font-style: normal;
        font-weight: 300;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        color: $grey-cool;
    }
}

@include tablet {
    
}
@include mobile {
   .base_instrument{
        display:flex;
    }
}
@include desktop {
    .base_instrument{
        display:flex;
    }
}