.portfolio {
    &-card {
        max-width: 100%;
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
        padding: 1.5rem 0.9rem;
        border: 0.85px solid $border-color;
        margin-bottom: 2rem;
        cursor: pointer;
        transition: all 200ms;
        box-shadow: 6.8535px 15.4204px 17.1338px rgba(164, 164, 164, 0.3);

        @include tablet {
            max-width: 33.3333%;
            flex: 0 0 33.3333%;
            border-color: transparent;
            box-shadow: none;
        }

        &:hover {
            border-color: $border-color;
            box-shadow: 6.8535px 15.4204px 17.1338px rgba(164, 164, 164, 0.3);
        }

        &__box {
            display: flex;
            flex-wrap: wrap;
            margin-top: 3rem;
        }

        h2 {
            color: $primary-dark;
        }

        &__title {
            color: $grey-cool;
            font-size: 0.825rem;
        }

        &__table {
            width: 85%;
            margin: 1rem auto;
            max-width: 300px;

        }

        &__tr {
            color: $grey-cool;
            font-size: 0.825rem;
            line-height: 1.5rem;

            &--left {
                text-align: left;
            }

            &--right {
                text-align: right;
            }
        }
    }

    &-tabs {
        display: flex;
        flex-wrap: wrap;
    }

    &-tab {
        flex: 0 0 33.33%;
        text-align: center;
        max-width: 33.33%;
        background-color: $primary;
        color: $white;
        cursor: pointer;
        padding: 1.5rem 1rem;
        transition: all 200ms;
        font-weight: bold;

        &:hover {
            transform: translateY(-3px);
        }

        &.active {
            background-color: transparent;
            color: $text-color;

            &:hover {
                transform: translateY(0px);
            }
        }
    }

    &-table {
        width: 100%;
        text-align: center;
        min-width: 900px;
        border-collapse: separate;
        border-spacing: 0 1rem;
        margin-top: -1rem;

        &__thead {
            background-color: $primary-dark;
            color: $white;

            th {
                padding: 1.325rem 4px
            }
        }

        &__tbody {
            tr {
                margin-bottom: 0.5rem;
                border: 1px solid transparent;
                transition: all 200ms linear;

                &:hover {
                    box-shadow: 8px 18px 20px rgba(79, 79, 79, 0.3);
                    border-color: $border-color;

                    td {
                        &:first-child {
                            border-left-color: $primary-dark;
                            border-top-left-radius: 8px;
                            border-bottom-left-radius: 8px;
                            display: block;
                        }
                    }
                }

                td {
                    padding: 1rem .5rem;

                    &:first-child {
                        border-left: 7px solid transparent;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        display: block;
                    }
                }
            }

            small {
                margin-left: 3px;
            }
        }

        &__buy {
            text-decoration: underline;
            color: $primary-dark;
            cursor: pointer;
            text-underline-position: under;

            &:first-child {
                margin-right: 12px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__box {
            overflow-x: auto;
        }
    }

    &-title {
        @extend .accounts__title;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;

            &__fund {
                margin-top: 1rem;
            }
        }

        &__fund {
            // text-align: right;

            button {
                min-width: 150px;
            }
        }
    }

    &-networth {
        margin-bottom: 1rem;
        text-align: right;

        @include mobile {
            text-align: left;
        }
    }

    &-graph {
        &__placeholder {
            min-height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}