
  .buttons {
    top: 24em;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .carousel-cell{
    margin: 0px 10px;
    object-fit: contain;
    width: 350px;
    height: 200px;
  }
  .btn-container-parent{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: -5em auto;
    padding:0px 5em;
  }
//   @is-select active spot 
  .is-selected{

  }
.flickity-wrapper{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
.title-news{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 52px;
  color: #293D4A;
  padding: 0px 1.9em;
}

  