.stock {
    &-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__flex {
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;

            &:nth-child(3) {
                @include mobile {
                    order: 4
                }
            }


            &--full {

                @include mobile {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            p {
                text-align: center;
            }

            @include tablet {
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
        }

        &__head {
            font-size: 1.2rem;
            padding-top: 1rem;
            padding-bottom: 0rem;

            @include tablet {
                background: $primary;
                color: $white;
                // font-size: 1.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }

        &__body {
            padding: 0.325rem 0;
            font-size: 1.3rem;
            font-weight: bold;

            @include tablet {
                // font-size: 1.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-left: 4px;
            }
        }
    }

    &-vdr {
        max-width: 400px;
        color: rgba($color: $text-color, $alpha: 0.5);
        margin: 0 auto;

        &__flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: .5rem;

            &--top {
                display: block;

                @media #{$mobile} {
                    display: flex;
                    align-items: flex-start;
                }
            }
        }

        &__box {
            width: 100%;

            @include desktop {
                width: 50%;
                padding: 0.375em 0.875em;
            }
        }

        &__div {
            padding: 0.125em 0.875em;
        }

        &__svg {
            width: 8rem;
            height: 8rem;
            margin-bottom: 1rem;
        }

        &__center {
            text-align: center;
            margin-bottom: .5rem;
            // font-weight: lighter;
        }

        &__text {
            color: $grey-cool;
            margin-bottom: 0;
        }

        &__right {
            text-align: right;
        }

        &__modal {
            max-width: 400px;
            margin: 0 auto;

            &--lg {
                max-width: 600px;
            }
        }

        &__buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    &__price {
        padding: 1em 0;
        max-width: 500px;
        margin: 0 auto;

        hr {
            opacity: 0.4;
            margin-bottom: 0.5rem;
        }
    }

    &-cell {
        width: 60%;

        @include tablet {
            width: 40%;
        }

        @include desktop {
            width: 30%;
        }
    }
}