.stock {
    &-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__flex {
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;

            &:nth-child(3) {
                @include mobile {
                    order: 4
                }
            }


            &--full {

                @include mobile {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            p {
                text-align: center;
            }

            @include tablet {
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
        }

        &__head {
            font-size: 1.2rem;
            padding-top: 1rem;
            padding-bottom: 0rem;

            @include tablet {
                background: $primary;
                color: $white;
                // font-size: 1.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }

        &__body {
            padding: 0.325rem 0;
            font-size: 1.3rem;
            font-weight: bold;

            @include tablet {
                // font-size: 1.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-left: 4px;
            }
        }
    }
}