.parent-container{
    display:flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    .title-tag{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 35px;
        color:#293D4A;
    }
    .info-tag{
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 45px;
        color:#8A939A;
    }
}


.container-tag{
    display:flex;
    flex-direction: row;
    width: 1500px;
    margin: 0 auto;
    overflow-x: scroll;
    .tag-item{
        width: 217px;
        min-width: 217px;
        height: 116px;
        min-height: 116px;
        border: 1px solidrgba(175, 175, 175, 0.4);
        border-radius: 7px;
        margin: 5px;
        display: flex;
        position: relative;
        #tag{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 7px;
        }
        .tag-name{
            font-weight: bold;
            font-size: 16px;
            line-height: 52px;
            color:#FFFFFF;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


