.tooltip {
    border: 3px solid #fff;
    display: inline-block;
    padding: .5rem 0.75rem;
    position: absolute;
    top: 0;
    background-color: $white;
    box-shadow: 0px 7px 64px rgba($color: $black, $alpha: 0.07);
    transition: all 100ms;
    min-width: 200px;

    p {
        font-size: 14px;
        letter-spacing: initial;
        line-height: 1.1rem;
        color: $grey-cool;
        font-weight: normal;
        font-style: normal;
    }

    &-span {
        cursor: default;
        display: inline-block;
        padding: 3px;
        position: relative;
        cursor: pointer;

        &:focus {
            outline: 0;
            box-shadow: none;
        }

        &:focus-within {
            outline: 0;
            box-shadow: none;
        }
    }

    img {
        display: block
    }

    &-enter-active {
        transition: opacity 0.3s
    }

    &-leave-active {
        transition: opacity 0.5s
    }

    &-enter,
    &-leave-to {
        opacity: 0
    }
}