.uploads {
    position: relative;
    text-align: center;
    flex: 0 0 120px;
    max-width: 120px;

    @include tablet {
        margin-right: 10%;
    }

    &__image {
        width: 106px;
        height: 106px;
        object-fit: contain;
        object-position: center;
        border-radius: 5px;

        &--local {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: 0;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        &--plus {
            z-index: 2;
        }
    }

    &__name {
        text-align: center;
        font-size: 0.825rem;
        min-height: 30px
    }

    &__empty {
        position: relative;
        width: 106px;
        height: 106px;
        margin: 0 auto
    }

    &__input {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    &__overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $black, $alpha: 0.3);
    }

    &__meta {
        color: $silver;
        margin: 0.5rem auto;
        max-width: 180px;
        font-size: .75rem;
    }

}