
.layout-parent-main{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    .tag-container-main{
        margin: 7em 0px 0em 0px;
    }
    .section-submain-container{
        width: 82%;
        margin: 1em auto;
        // border: 1px solid#9f9f9f66;
    }
}
