.graphholder {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 11.4872px;
    // width: 100%;
    flex-basis: 49%;
    margin: 1em 0px;
}
.graphholder:hover{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 13.1282px 29.5385px 32.8205px rgba(164, 164, 164, 0.3);
    border-radius: 11.4872px;
    // width: 100%;
    flex-basis: 49%;
    margin: 1em 0px;
    transition: all 0.3s;
}

.container-packet{
    display: flex;
    flex-direction:column;
    flex-basis: 49%;
    font-family: "SF Pro";
    font-style: normal;
    .title-name{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color:#293D4A;
    }
    .subtitle-name{
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 43px;
        color: #8A939A;
    }
}

@include mobile {
    .container-packet{
       margin: 2em 0px;
    }
}
@include tablet {
    .container-packet{
       margin: 2em 0px;
    }
}