.graphholder {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 11.4872px;
    margin: 1em 0px;
    height: 100%;
}

.graphholder:hover {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    // box-shadow: 13.1282px 29.5385px 32.8205px rgba(164, 164, 164, 0.3);
    border-radius: 11.4872px;
    margin: 1em 0px;
    transition: all 0.3s;
}
.btn-viewmore{
    display: flex;
    justify-content: flex-end;
    section:hover{
        background:#2da5ec;
        cursor: pointer;
        height: 40px;
        border-radius: 2px;
        box-shadow: 13.1282px 29.5385px 32.8205px rgba(164, 164, 164, 0.3);
        transform: all 0.35;
    }
    section{
        // background:#2da5ec;
        cursor: pointer;
        padding: 5px 29px;
        height: 40px;
        border-radius: 2px;
        position: relative;
        #Capa_1{
            padding: 5px 0px;
            position: absolute;
            right: 8px;
            top: 0px;
        }
    }
}

.container-packet {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 100%;
    font-family: "SF Pro";
    font-style: normal;

    @include tablet {
        max-width: 48%;
        flex-basis: 48%;
    }

    .title-name {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #293D4A;
    }

    .subtitle-name {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 43px;
        color: #8A939A;
    }

    &__placeholder {
        min-height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@include mobile {
    .container-packet {
        margin: 2em 0px;
    }
}

@include tablet {
    .container-packet {
        margin: 2em 0px;
    }
}