.graphholder {
    background: #FFFFFF;
    box-shadow: 13.1282px 29.5385px 32.8205px rgba(164, 164, 164, 0.2);
    border-radius: 11.4872px;
    padding: 1em;
    margin: 1em auto;
    width: 100%;
    flex-basis: 49%;

}

.container-packet{
    display: flex;
    flex-direction:column;
    flex-basis: 49%;
    .title-name{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color:#293D4A;
    }
}