.graphholder{
    background:#FFFFFF;
    box-shadow: 13.1282px 29.5385px 32.8205px rgba(164, 164, 164, 0.2);
    border-radius: 11.4872px;
    padding: 1em;
    flex-basis:0 0 66%;
    max-width: 100%;
    min-height: 522px;
    margin: 0px;
    width: inherit;
}
.display{display:none;}
.drop-down{
    width: 112px;
    height: 30px;
    left: 1214px;
    top: 335px;
    border: 0.478476px solid#CECECE;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-appearance: menulist-button;
    font-style: normal;
    font-weight: 500;
    font-size: 13.1343px;
    padding: 0px 10px;
    color: #293D4A;
}

.header-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .right-menue-item{
        flex-basis:50%;
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        text-align: right;
        font-family: SF Pro Text;
        font-style: normal;
        font-weight: bolder;
        .parent-container-main{
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        .toogle-section{
            display: flex;
            justify-content: flex-end;
            .option-container{
                display: flex;
                justify-content: space-between;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                font-family: "SF Pro";
                font-style: normal;
                flex-direction: row-reverse;
                .btn-one{
                    width: 30.21px;
                    height: 30.21px;
                    color:rgb(19, 19, 19);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13.1343px;
                }
                .btn-one-active{
                    background:#22A4EF;
                    color:#fff;
                    transition: all 0.35s;
                }
                .btn-two{
                    width: 30.21px;
                    height: 30.21px;
                    background:#FFFFFF;
                    color: #CECECE;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13.1343px;
                }
            }
        }
       .btn-parent-container{
            font-family: SF Pro Text;
            font-style: normal;
            font-weight: bold;
            font-size: 19.7203px;
            font-family: "SF Pro";
            font-style: normal;
            font-weight: bolder;
            line-height: 45px;
            display: flex;
            justify-content: flex-end;
            .btn-container{
                margin: 5px 0px;
                border: 0.467531px solid#C4C4C4;
                box-sizing: border-box;
                padding: 3px;
                border-radius: 3.27272px;
            }
            .option{
                padding: 0px 30px;
                border: 1px solid #e6e6e6;
                background:#FFFFFF;
                outline: none;
                border: none;
                border-radius: 4.875px;
                text-align: center;
                color:#293D4A;
                font-style: normal;
                font-weight: bold;
                font-size: 15.42px;
            }
            .active-btn{
                padding: 0px 30px;
                border: 1px solid #e6e6e6;
                background:$primary;
                outline: none;
                border: none;
                border-radius: 4.875px;
                color:#fff;
                font-style: normal;
                font-weight: bold;
                font-size: 15.42px;
                transition: all 0.35s;
            }
        }
        .btn-sell{
            display: flex;
            justify-content: space-between;
            margin: 5px 0px;
            button{
                font-family: "SF Pro";
                font-style: normal;
                font-weight: bolder;
                padding: 10px 3em;
                border: 1px solid#e6e6e6;
                background:$primary;
                outline: none;
                border: none;
                border-radius: 3.875px;
                color:#fff;
                font-style: normal;
                font-weight: bold;
                font-size: 15.4204px;
            }
        }
    }
    .left-menue-item{
        flex-basis: 50%;
        .holder{
            font-family: SF Pro Text;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 52px;
            color:#293D4A;
            font-family: "SF Pro";
            font-style: normal;
            font-weight: bolder;
        }
        .sub-holder{
            font-family: SF Pro Text;
            font-style: italic;
            font-weight: normal;
            font-size: 11px;
            color:#8A939A;
            font-family: "SF Pro";
            font-style: normal;
            font-weight: bolder;
        }
    }

}

@include tablet {
    .graphholder{
        background:#FFFFFF;
        box-shadow: 13.1282px 29.5385px 32.8205px rgba(164, 164, 164, 0.2);
        border-radius: 11.4872px;
        padding: 1em;
        flex-basis: 100%;
        max-width:100
        // margin-bottom: 1em;
        
    }
}
@include mobile {
    .graphholder{
        background:#FFFFFF;
        box-shadow: 13.1282px 29.5385px 32.8205px rgba(164, 164, 164, 0.2);
        border-radius: 11.4872px;
        padding: 1em;
        width: 100%;
        flex-basis: 100%;
        max-width:100%;
        margin-bottom: 1em;
        
    }
}
