.container-main{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    width: 82%;
    margin: 0em auto 5em auto;
    border-bottom: 1px solid #CECECE;
    .image-cover-holder{
        position: relative;
        width: 217px;
        height: auto;
        min-width: 215.4px;
        min-height: 215.4px;
        border: 1px solid #e6e6e6;
        margin: .5em;
        flex-basis: 100%;
        border-radius: 7px;
        .tag-url-holder{
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
        .cover{
            max-width: 100%;
            width: 217px;
            height: 116px;
            object-fit: cover;
        }
        .topic{
            position: absolute;
            top: 3em;
            width: 50%;
            padding: 2em 0em;
            right: 20%;
            color: #ffffff;
            margin: 0 auto;
        }
    }
}

.main-parent-container{
    display: flex;
    flex-direction: column;
    width: auto;
    .category-tag-info{
        text-align: left;
        width: 82%;
        margin: 0 auto;
        font-size: 25px;
        font-family: SF Pro Text;
        font-style: normal;
        font-weight: bold;
        /* font-size: 20px; */
        line-height: 52px;
        color: #293D4A;
        padding: .5em;
    }
    // margin: 7em auto;
}


.tag-container-main-topic{
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 52px;
    color: #293D4A;
}

.container-main::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
.container-main::-webkit-scrollbar {
    width: 2px;
  }
.container-main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 2px;
    background: transparent;
    width:5px;
}
.container-main::-webkit-scrollbar-track {
	background-color: transparent;
}