.card-chart-container{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.4);
    border-radius: 11.4872px;
    padding: 1em 0px;
}