
.explore-actions{
    margin: 5px;
}
.buttonload{
    background: transparent;
    color: #2da5ec;
    padding: .45rem .6rem;
    border: 1px solid transparent;
    i{
        margin-right: 10px;
    }
}
.buttonload:hover{
    color: #2da5ec;
    padding: .45rem .6rem;
    i{
        margin-right: 10px;
    }
}
.btn-container-main{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 8px 0;
    .buttton{
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
}

.explore {

    &-section {
        margin-bottom: 3.825rem;
    }

    &__title {
        @extend .accounts__title;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: flex-end;

        p {
            @extend .dashboard__title--sub
        }
    }

    &-featured {
        display: flex;
        flex-wrap: wrap;


        @include tablet {
            justify-content: space-between;
        }

        &__image {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 1rem;

            img {
                object-fit: cover;
                width: 100%;
                height: 300px;
                border-radius: 7px;
            }

            @include tablet {
                flex: 0 0 59%;
                max-width: 59%;
                margin-bottom: 0;
            }
        }

        &__text {
            flex: 0 0 100%;
            max-width: 100%;
            color: $primary-dark;

            @include tablet {
                flex: 0 0 39%;
                max-width: 39%;
            }

            &--title {
                margin-bottom: .825rem;
                color: $primary-dark
            }

            p {
                line-height: 2;

            }
        }
    }

    &__news {
        margin-top: 1.5rem;
    }

    &-actions {
        @extend .portfolio-table__buy;
        font-style: italic;
        margin-right: 0 !important;

        &__bottom {
            display: flex;
            justify-content: flex-end;
        }

    }
}
