// header {
//   background: white;
//   z-index: 9999;
// }
#header {
  margin: auto 0;
  padding: 0.5rem 0.5rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
  background: transparent;
  transition: all 200ms;

  @include tablet {
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
  }

  &.scroll {
    position: sticky;
    background: rgba($color: $white, $alpha: 0.95);
    box-shadow: 0px -1px 10px 1px rgba($color: $text-color, $alpha: 0.1);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .nav__menu--auth {
      .btn {
        padding: 0.25rem 1.825rem;
      }
    }

    .v2-btn__login {
      background: none;
      color: $text-dark;
      border: 2px solid transparent;

      &:hover {
        color: $primary;
        border: 2px solid $primary;
      }
    }

    .nav__link {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1rem;
  color: $text-color;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;

  &-left {
    display: flex;
    align-items: center;

    &__form {
      display: none;
      margin-left: 1rem;
      border-left: 1px solid $grey-light;
      padding: 0rem 1rem;
      width: 100%;

      @include tablet {
        display: block;
      }
    }

    &__input {
      @extend .form__input;
      margin-top: 0 !important;

      &::before {
        content: url("/assets/img/search.svg");
      }
    }

    &__icon {
      display: inline-flex;
      margin-left: 2rem;

      @include tablet {
        display: none;
      }
    }
  }

  &__item {
    padding: 0 0.875em;

    &--dropdown {
      cursor: pointer;
      position: relative;
      border-bottom: 4px solid transparent;

      &:hover {
        border-bottom: 4px solid transparent;

        path {
          stroke: $primary;
        }

        .nav__dropdown-menu {
          background: $white;
          opacity: 1;
          top: 80%;
        }
      }
    }
  }

  &__link {
    padding-bottom: .75rem;
    display: inline-block;
    padding-top: 0.75rem;
    letter-spacing: 0.05rem;

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
      border-bottom: 4px solid $primary;
    }

    &--dropdown {
      &:hover {
        border-bottom: none;

        path {
          stroke: $primary;
        }
      }
    }
  }

  &__menu {
    margin-left: 1em;
    display: none;

    @include desktop {
      display: flex;
    }

    &--mobile {
      position: fixed;
      background: rgba($color: $black, $alpha: 0.15);
      width: 100%;
      min-height: 100vh;
      left: 0;
      top: 0;
      z-index: 10;
      display: none;

      &.show {
        display: block;

        .nav__menu-wrapper {
          transform: translateX(0);
        }
      }
    }

    &-wrapper {
      background: $white;
      padding: 5em 2em;
      text-align: right;
      width: 90%;
      right: 0;
      margin-left: auto;
      height: 100vh;
      transform: translateX(100%);
      transition: all 300ms;

      .nav__link {
        padding-bottom: 1.5em;
      }
    }

    &--auth {
      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__dropdown {
    display: hidden;

    &-menu {
      background: $white;
      padding: 1rem 3rem;
      box-shadow: 0px 7px 64px rgba($color: $black, $alpha: 0.07);
      border-radius: 6px;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: -20%;
      z-index: 5;
      transition: all ease 0.3s;

      a {
        white-space: nowrap;
        line-height: 2rem;
        font-weight: normal;

        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }

  &__mobile {
    &-button {
      position: absolute;
      right: 2rem;
      top: 30%;
      z-index: 20;
      margin: auto 0;
      cursor: pointer;
      display: block;

      @include desktop {
        display: none;
      }

      span {
        background-color: $primary-dark;
        display: block;
        height: 2px;
        margin-bottom: 0.25em;
        position: relative;
        top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 1.5rem;
        color: white;
      }

      &.is-active {
        span {
          &:nth-child(2) {
            opacity: 0;
          }

          &:first-child {
            transform: rotate(-45deg) translate(-8px, 8px);
          }

          &:last-child {
            transform: rotate(45deg) translate(0px, 0px);
          }
        }
      }
    }

    &-list {
      padding-top: 2rem;
    }
  }

  &__dashboard {
    &--menu {
      display: flex;
      align-items: center;

      button {
        margin-left: 0.5rem;
      }

      p {
        margin: 0;
      }
    }

    &--mobile {
      @include mobile {
        display: none;
      }
    }

    &--left {
      @include mobile {
        flex: 1 1 70%;
        max-width: 70%;
        justify-content: space-between;
      }

      @extend .nav-left;
      flex: 1 1 40%;
      max-width: 60%;
      justify-content: flex-start;
      width: 100%;
    }
  }
}