.kyc {

    &-modal {
        color: $text-color;

        &__uploads {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            &>div {
                width: auto
            }
        }

        &__small {
            font-size: 0.825rem;
            color: $grey-cool
        }

        &__popular {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 300px;
            width: 100%;
            margin: 1.5rem auto;

            &--div {
                max-width: 100px;
                width: 49%
            }

            &--logo {
                width: 80px;
                height: 80px;
                object-fit: contain;
            }

            &--flag {
                margin-top: .5rem;
                width: 20px;
                height: 20px;
            }
        }

        &__single {
            &>div {
                margin: auto;
                cursor: pointer;
            }
        }

        &__dummy {
            min-height: 200px;
            width: 100%
        }
    }

    &-nav {
        color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
            padding-right: 0 !important;
        }

        label {
            color: $white
        }

        &__section {
            background-color: $primary-dark;
            margin-top: 20px;
        }

        &__text {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            padding-top: .5rem;
            padding-bottom: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tablet {
                flex: 0 0 35%;
                max-width: 35%;
                text-align: left;
            }

            &--stretch {
                @include tablet {
                    flex: 0 0 65%;
                    max-width: 65%;
                }
            }

            h5 {
                color: white;
                margin-bottom: .125rem;
                font-weight: normal;
            }

            p {
                line-height: 1.2;
            }

            .skip-button {
                margin-top: .5rem;
            }

            &--center {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }

        }

        &__fund {
            padding: 0.25rem 0.825rem
        }

        &__field {
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: .25rem;
            padding-bottom: .25rem;
            display: flex;
            align-items: center;

            @include tablet {
                padding-left: 1rem;
                flex: 0 0 30%;
                max-width: 30%;
            }

        }

        &__actions {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                text-decoration: underline;
                margin-top: .825rem;
                margin-bottom: .25rem;
                display: inline-block;

                &.skip {
                    margin-left: 2rem;
                    display: initial;
                }

                @include tablet {
                    margin-right: 1rem;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            @include tablet {
                flex: 0 0 30%;
                max-width: 30%;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                text-align: left;
            }


        }

        &__button {
            height: 100%;
            line-height: 1.5rem;
            background-color: $primary;
            border-radius: 0;
            border-color: $primary;
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            path {
                fill: $white
            }

            &:hover {
                background-color: $white;
                border-color: $white;

                path {
                    fill: $primary
                }
            }
        }

        &__pill {
            margin-right: 10px;
            margin-bottom: 6px;
            border-radius: 30px;
            padding: 0.325rem 0.825rem;
            font-size: 0.9rem;
            border-color: rgba($color: $primary, $alpha: 0.25);
            background-color: $white;

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                background: $primary;
                border: 1px solid $white;
                box-shadow: 0 0 2px 1px $primary;
                border-radius: 50%;
                margin-right: 6px;
            }

            &.active {
                border-color: $primary;
                background-color: $primary;
                color: $white;

                &::before {
                    background: $white;
                }
            }

            &--group {
                margin-top: 1rem;
            }
        }

        &__popular {
            @extend .kyc-modal__popular;
            max-width: 200px;
            margin: 0.5rem auto;

            &--div {
                max-width: 95px;
                width: 48%;
                cursor: pointer;

                h6 {
                    color: $white;
                    font-size: 10px;
                }
            }

            &--logo {
                width: 30px;
                object-fit: contain;
                height: 30px;
                background: $white;
            }

            &--flag {
                width: 12px;
            }
        }
    }

    &-form {
        &__group {
            @extend .modal-form__group;
            width: 100%;

            @include tablet {
                margin-bottom: 0;
            }

            &.inline {
                margin-bottom: .5rem;

                input {
                    margin-top: 0;
                }
            }
        }
    }

    &-field {
        &__group {
            @extend .kyc-form__group;
            margin-bottom: 1rem;

            .uploads {
                margin-right: auto;
                margin: auto
            }

        }
    }

    &-navbar {

        &-enter-active,
        &-leave-active {
            transition: opacity .3s;
        }

        &-enter,
        &-leave-to

        /* .fade-leave-active below version 2.1.8 */
            {
            opacity: 0;
        }
    }
}