.kyc {
    &-nav {
        color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
            padding-right: 0 !important;
        }

        label {
            color: $white
        }

        &__section {
            background-color: $primary-dark;
            margin-top: 20px;
        }

        &__text {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            padding-top: .5rem;
            padding-bottom: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tablet {
                flex: 0 0 35%;
                max-width: 35%;
                text-align: left;
            }

            h5 {
                color: white;
                margin-bottom: .5rem;
                font-weight: normal;
            }

            p {
                line-height: 1.2;
            }

            .skip-button {
                margin-top: 1rem;
            }

            &--center {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }

        }

        &__fund {
            margin-top: .5rem;

            padding: 0.25rem 0.825rem
        }

        &__field {
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: .25rem;
            padding-bottom: .25rem;
            display: flex;
            align-items: center;

            @include tablet {
                padding-left: 1rem;
                flex: 0 0 30%;
                max-width: 30%;
            }

        }

        &__actions {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                text-decoration: underline;
                margin-top: 1rem;
                margin-bottom: 1rem;
                display: inline-block;

                &.skip {
                    margin-left: 2rem;
                    display: initial;
                }

                @include tablet {
                    margin-right: 1rem;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            @include tablet {
                flex: 0 0 30%;
                max-width: 30%;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                text-align: left;
            }


        }

        &__button {
            height: 100%;
            line-height: 1.5rem;
            background-color: $primary;
            border-radius: 0;
            border-color: $primary;
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            path {
                fill: $white
            }

            &:hover {
                background-color: $white;
                border-color: $white;

                path {
                    fill: $primary
                }
            }

            &--mobile {
                // margin-bottom: 1rem;

            }
        }

        &__pill {
            margin-right: 20px;
            margin-bottom: 10px;
            border-radius: 30px;
            padding: 0.5rem 1rem;
            border-color: transparent;
            background-color: $white;

            &.active {
                border-color: $primary;
                background-color: $primary;
                color: $white;
            }

            &--group {
                margin-top: 1rem;
            }
        }
    }

    &-form {
        &__group {
            @extend .modal-form__group;
            width: 100%;

            @include tablet {
                margin-bottom: 0;
            }

            &.inline {
                margin-bottom: .5rem;

                input {
                    margin-top: 0;
                }
            }
        }
    }

    &-field {
        &__group {
            @extend .kyc-form__group;
            margin-bottom: 1rem;

        }
    }

    &-modal {
        color: $text-color
    }

    &-navbar {

        &-enter-active,
        &-leave-active {
            transition: opacity .3s;
        }

        &-enter,
        &-leave-to

        /* .fade-leave-active below version 2.1.8 */
            {
            opacity: 0;
        }
    }
}