.portfolio__charts {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 100%;
    justify-content: space-between;
    flex-direction: column;


    @include tablet {
        // flex-direction: column
        flex-direction: row-reverse;
    }
}