.header-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex: 0 0 100%;
}
.sumary{margin: 10px 0px;}

.right-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    .price {
        font-style: normal;
        font-weight: bold;
        font-size: 16.986px;
        color: #293D4A;
    }

    .percentage {
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        color: #00C48C;

        .red {
            color: rgb(196, 0, 0);
        }

        .green {
            color: #00C48C;
        }
    }
}

.wraper-main {
    margin: 4em 0px;
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name-country {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo-company {
            object-fit: contain;
            margin-right: .5em;
            width: 5em;
            height: 5em;
        }

        .item-name-country {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .stockname {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                color: #293D4A;
            }

            .state {
                object-fit: contain;
                width: 20px;
                height: 20px;
            }
        }
    }

    .buy-btn {
        background: #22A4EF;
        border-radius: 3.875px;
        padding: 0.68em 4em;
        font-weight: bold;
        font-size: 15.4204px;
        text-align: center;
        color: #FFFFFF;
        margin-top: .5em;
    }

}
.stocktag-container{
    display: inline-flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    .item-tag{
        background:#293D4A;
        border-radius: 2.95652px;
        color:#fff;
        padding: 7px 10px;
        margin: 5px 0px;
        font-size: 12px;
    }
}
.tag-icon{margin: -14px 0px;width: 20px;}

.summary-cover {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #293D4A;
    margin: 10px 0px;
}

.container-graph {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.graph-container {
    width: 100%;
    @include tablet {
        flex: 0 0 68%;
        max-width: 68%;
    }
}


.container-instrument {
    margin: 2em auto;
}

.container-stocks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    .news-container-main {
        display: flex;
    }

    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 52px;
        color: #293D4A;
    }

    .sub-title {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 43px;
        color: #8A939A;
    }
}

@include tablet {
    .container-stocks {
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}

@include mobile {
    .container-stocks {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .small-size {
        background: #22A4EF;
        border-radius: 3.875px;
        padding: 0.68em 4em;
        font-weight: bold;
        font-size: 19.4204px;
        text-align: center;
        color: #FFFFFF;
        margin: 1em auto;
        width: 100%;
    }

    .buy-btn {
        display: none;
    }

    .container-graph {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

}