.form {
  padding-top: 3em;
  position: relative;
  text-align: left;

  &-info {
    color: $grey-cool;
    font-size: 0.825rem;
    font-style: italic;
    margin-top: .5rem;
  }

  &__input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid $silver;
    background-color: $white;
    border-radius: 5px;
    margin-top: .325rem;

    &.is-invalid {
      border-color: $red;
      animation: shake 400ms ease-in-out;

      &.navbar {
        border-color: $orange;
      }
    }

    &--file {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding-left: 2.5em;
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: $white;
      width: 174px;
      height: 174px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      text-transform: capitalize;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.6);
      }

      input {
        visibility: hidden;
        overflow: hidden;
      }
    }

    &-wrapper {
      width: 100%;
    }
  }

  &__select {
    height: 2.525rem;

    &.is-invalid {
      border-color: $red;
      animation: shake 400ms ease-in-out;
    }

    &.v-select {
      padding: 0;

      .vs__dropdown-toggle {
        border: none;
        padding: 0;
        height: 100%;

        input {

          &::-webkit-input-placeholder,
          &::-ms-input-placeholder,
          &::placeholder {
            color: $grey-dark;
          }
        }
      }
    }
  }

  &__label {
    color: rgba($color: $black, $alpha: 0.5);
  }

  &-control {
    &.is-invalid {
      border-color: $red;
      // background: url("assets/img/icons/warning.svg") no-repeat;
      background-size: 24px 24px;
      background-position: 96%;
      padding-right: 1em;

      &:hover {
        border-color: $orange;
      }

      &:focus {
        border-color: $orange;
      }
    }
  }

  &-error {
    color: $red;
    font-size: 85%;
    text-transform: none;

    &.navbar {
      color: rgba($color: $orange, $alpha: 0.75);
    }
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }
}