.dashboard {
    &__main {
        padding-top: 3rem;
        padding-bottom: 7rem;

        @include mobile {
            padding-top: 2rem;
        }
    }

    &__title {
        @extend .accounts__title;
        display: block;

        &--sub {
            color: $grey-cool;
            font-style: italic;
            margin-top: .325rem;
        }
    }
}