.dashboard {
    &__main {
        padding-top: 3rem;
        padding-bottom: 7rem;

        @include mobile {
            padding-top: 2rem;
        }
    }

    &__title {
        @extend .accounts__title;
        display: block;

        &--sub {
            color: $grey-cool;
            font-style: italic;
            margin-top: .325rem;
        }
    }

    &__back {
        padding: .5rem 0 1rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &--btn {
            display: inline-flex;
            margin-right: 1rem;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    &-loader {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 40px;
        }
    }
}