.modal {

    &-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: table;
        transition: opacity 0.3s ease;
        background-color: transparent;
    }

    &-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    &__underlay {
        background-color: rgba($color: $black, $alpha: 0.25);
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0
    }

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.325rem;
        border-bottom: 1px solid $silver;

        &__text {
            font-size: 1.25rem;
            text-align: center;
            padding-left: 0.825rem;
            padding-right: 0.825rem;
        }

        &__close {
            color: $text-color;
            position: absolute;
            top: .825rem;
            right: 2%;
            display: flex;

        }
    }

    &-sub {
        position: absolute;
        left: 0;
        width: 100%;

        &__box {
            min-height: 5rem;
            display: flex;

            @include tablet {
                min-height: 2.5rem;
            }
        }

        button {
            width: 50%;
            border-radius: 0;
            background: $white;
            color: $text-color;
            border: none;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            font-weight: bold;

            &.active {
                background: $primary;
                color: $white;
            }
        }
    }

    &-container {
        position: relative;
        width: 100%;
        max-width: 85%;
        margin: 0px auto;
        padding: 1.5rem 1rem;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        font-family: Helvetica, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        max-height: 90vh;
        overflow-y: auto;
        text-align: left;

        @include tablet {
            padding: 2rem 2rem 1.5rem;
            max-width: 560px;
            width: 80%
        }

        @include desktop {
            max-width: 630px;
        }

        &__full {
            @include mobile {
                max-width: unset;
                max-height: unset;
                padding-top: 50px;
                height: 100vh
            }
        }
    }

    &-body {
        margin: 1rem 0;
        height: 100%;

        @include tablet {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    &-enter {
        opacity: 0;

        .modal-container {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    &-leave-active {
        opacity: 0;

        .modal-container {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    &-form {
        margin-top: 1rem;

        &__group {
            margin-top: .5rem;
            margin-bottom: 1rem;
        }

        &__buttons {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    &__accounts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 100%;

        &--link {
            @extend .side-nav__link;
            font-size: 1.25rem !important;

            &:hover {
                border-radius: 12px;
                box-shadow: 12px 24x 28px rgba($color: $black, $alpha: 0.3)
            }
        }
    }

    &__exchange {
        @extend .accounts-wallet__text;
        padding-left: 0 !important;

        &--currency {
            margin-bottom: 1rem;

            h4 {
                font-weight: normal;
            }
        }

        &--money {
            @extend .accounts-wallet__money;

            &>div {
                margin-bottom: 1rem;
            }
        }

        &--dropdown {
            display: inline-flex;
            width: 100%;
            max-width: 500px;
            justify-content: space-between;
        }

        &--hero {
            display: flex;
            flex-direction: column;
            flex: 0 0 47%;
            max-width: 47%;
        }
    }

    &__buy {
        color: $text-color;

        &--details {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

        &-left {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &--image {

            img {
                width: 60px;
                height: 60px;
                object-fit: contain;
            }
        }

        &--symbol {
            margin-bottom: 1rem;
        }

        &--current {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: .5rem;

            &>p {
                flex: 0 0 100%;
                max-width: 100%;

                @include tablet {
                    &:first-child {
                        padding-right: 10px;
                        text-align: right;
                    }

                    &:last-child {
                        text-align: left;
                    }
                }

                @include tablet {

                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }

        &--price {
            font-size: 1.25rem;
        }

        &-round {
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            margin: 0 auto 1rem;

            &--button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                flex: 0 0 50px;
                border: 1px solid $grey-dark;
                transition: all 200ms ease-in-out;
                font-size: 0.825rem;

                @include mobile {
                    flex: 0 0 45px;
                    width: 45px;
                    height: 45px;
                    // transform: scale(0.8);
                }

                &.active {
                    border-color: $primary;
                    background-color: $primary;
                    color: $white
                }
            }
        }

    }


}