.progress {
    height: 4px;
    background-color: transparent;
    width: 100%;
    z-index: 300;
    position: fixed;
    top: 0;

    &__complete {
        height: 100%;
        background-color: $primary;
        transition: 400ms ease-in-out;
    }
}