.table {
    &-accounts {
        @extend .portfolio-table;

        &__box {
            @extend .portfolio-table__box
        }

        &__tbody {
            @extend .portfolio-table__tbody;

            tr {
                border-radius: 7px;

                &:hover {
                    box-shadow: 8px 18px 20px rgba(79, 79, 79, 0.3);
                    border-color: $border-color;
                }

                td {
                    &:first-child {
                        border-width: 0 !important;
                    }
                }
            }
        }
    }
}